[Desktop Entry]
Encoding=UTF-8
Name=Link to uvadlc_practicals_2017/assignment_1 at master · uvadlc/uvadlc_practicals_2017
Type=Link
URL=https://github.com/uvadlc/uvadlc_practicals_2017/tree/master/assignment_1
Icon=text-html
Name[en_US]=goo.gl/xNpbDR
