[Desktop Entry]
Encoding=UTF-8
Name=Link to StackEdit Viewer
Type=Link
URL=https://stackedit.io/viewer#!provider=gist&gistId=57c751280871332c6566fcf64fe00983&filename=dl-course-a1-math
Icon=text-html
